<?xml version="1.0" encoding="utf-8" ?>
<routes>
  <route url="/" module="Post" action="index" />
  <route url="/post-([0-9]+)\.html" module="Post" action="show" vars="id" />
  <route url="/comment-show\.html" module="CommentAjax" action="showComment" />
  <route url="/comment-add\.html" module="CommentAjax" action="addComment" />
  <route url="/comment-report\.html" module="CommentAjax" action="reportComment" />
  <route url="/mentionsLegales\.html" module="SimplePage" action="mentionsLegales" />
</routes>