html{
	height: 100%;
}
body{
	position: relative;
	min-height: 100%;
	background: url('../img/fond_jaune.png');
}
/* General */
h1, h2, h3, h4{
	font-family : "Times new roman", serif ;
}
h1{
	font-size: 26px;
	text-align: center;
}
h2{
	font-size: 22px;
}
p, span{
	font-family: "Times new roman", serif;
	font-size: 16px;
}
a p{
	color: black;
}
a:hover{
	text-decoration: none;
}
.titlePage{
	font-family : "Times new roman", serif;
	font-size: 22px;
 	font-weight: bold;
 	color: white;
 	margin-left : 15px; 
}
.titlePost{
 	font-weight: bold;
 	font-size: 20px;
 	color: #7B0200;
 	margin : 5px 0 5px 0;
}
.authorComment{
	font-family : "Times new roman", serif;
	font-size: 20px;
 	font-weight: bold;
 	color: #7B0200;
 	margin : 5px 0 5px 0;
}
.dateItem{
	font-family : arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #3B0100;
}
.textAnnotation{
	font-family : "Times new roman", serif;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	color: #3B0100;
}
.iconMenu{
	display: inline-block;
}
.glyphicon{
	margin-left: 15px;	
}
/* Tooltip */
.tooltip-inner {
  background-color: #3B0100 !important;
}
.tooltip.top .tooltip-arrow {
      border-top-color: #3B0100;
}

/* Table */
table {
  border-collapse: collapse;
}
td, th {
  	border-width: 0;
	border-bottom: 1px solid #3B0100;
	font-family : "Times new roman", serif;
  	padding: 15px;
	text-align: left;
	vertical-align: middle;
}
thead, tfoot {
  text-transform: uppercase; 
}
th {
	background: #3B0100;
	color: #88870E;
	font-size: 16px;
	font-weight: bold !important;
}
td {
	background: url('../img/fond_jaune.png');
	color: #7B0200;
	font-size: 16px;
 	font-weight: normal !important;
}
/* Margin */
.margTop5{
	margin-top: 15px;
}
.margLeft15{
	margin-left: 15px;
}
.margLeft5{
	margin-left: 5px;
}
.margRight15{
	margin-right: 15px;
}
.margTop15{
	margin-top: 15px;
}
.margBot15{
	margin-bottom: 15px;
}
.margTop50{
	margin-top: 50px;
}
/* border */
.borderAll{
	box-shadow: 6px 6px 8px #3B0100;
}
.borderTop{
	border-top: 1px solid #3B0100;
}
.borderBot{
	border-bottom: 1px solid #3B0100;
}

/* Button, link */
.btnPosts{
	font-family: arial, sans-serif;
	background-color: #88870E;
	color:white;
}
.btnComments{
	font-family: arial, sans-serif;
	background-color: #AE4111;
	color:white;
}
.menuList{
	background: url('../img/fond_jaune.png');
	border: 1px solid #3B0100;
}
.modal-content{
	background: url('../img/fond_jaune.png');
	border-color: #3B0100;
}


/* Header */
#author{
	padding: 15px 0 0 0;
	text-align: center;
}
#nameAuthor{
	display: inline-block;
	font-size: 26px;
	font-weight: bold;
	vertical-align: bottom;
	text-align: center;
	margin: 0;
}
#photoAuthor{
	display: inline-block;
	vertical-align: bottom;
	width: 15%;
}
/* Nav */
.navbar{
	background-color: #3B0100;
	border-radius: 0px;
}
.navbar-text:hover{
	color: #88870E;
}
.icon-bar {
  background-color: white;
}

/* Content */
.post-resume{
	margin-top: 15px; 
	padding: 0 5px 0 5px; 
}
.post-resume:hover{
	box-shadow: 6px 6px 8px #3B0100;
}
@media (max-width: 768px) {
  #reportedBlock {
    margin-top: 30px;
  }
}

/* Footer */
footer{
	display: flex;
	justify-content: space-around;
	position: absolute;
	bottom: 0;
	width: 100%;
	align-items: center;
	background-color: #3B0100;
	height: 50px;
	margin: 0 -15px 0 -15px;
}
footer a{
	color: white;
	margin: auto;
}
footer a:hover{
	color: #88870E;
}

